
/**
 *
 * ███████╗██╗████████╗███████╗    ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
 * ██╔════╝██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 * ███████╗██║   ██║   █████╗      █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
 * ╚════██║██║   ██║   ██╔══╝      ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
 * ███████║██║   ██║   ███████╗    ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
 * ╚══════╝╚═╝   ╚═╝   ╚══════╝    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
 *
 *
 * This sheet contains:
 * * The site layout footer
 * --------------------
 * The site component that wraps the master footer of the entire site.
 *
 * This sheet is a part of the Layout folder and follow the Layout rules:
 * The major components are referred to as Layout styles. The minor (Module) components—such as a callout, or login form,
 * or a navigation item—sit within the scope of major components such as a header or footer.
 * Generally, a Layout style only has a single selector: a single ID or class name.
 */

//footer
$site-footer-height: 60px;
$site-footer-height-mobile: 40px;

.site-footer {
	min-height: $site-footer-height-mobile;
	background-color: $red-1;
	display: flex;
	color: $white;
	padding: 16px;
	@include tablet-p-up {
		padding: 16px 24px;
		min-height: $site-footer-height;
	}
	a {
		color: $white;
		text-decoration: underline;
		opacity: .75;
		transition: .15s;
		margin: 0 40px;
		&:hover {
			opacity: 1;
		}
	}
	p {
		margin: 0 40px;
	}
}

.site-footer__content {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	@include tablet-p-up {
		flex-flow: row;
	}
	margin: 0 auto;
	width: $normal-max-width;
	max-width: 100%;
}
