/**
 *
 * ██████╗ ████████╗███╗   ██╗
 * ██╔══██╗╚══██╔══╝████╗  ██║
 * ██████╔╝   ██║   ██╔██╗ ██║
 * ██╔══██╗   ██║   ██║╚██╗██║
 * ██████╔╝   ██║   ██║ ╚████║
 * ╚═════╝    ╚═╝   ╚═╝  ╚═══╝
 *
 *
 * This sheet contains:
 * * The btn (button) module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

 .btn {
	border-radius: 2px;
	padding: 5px 12px;
	padding-right: 24px;
	transition: .15s ease;
	text-transform: uppercase;
	letter-spacing: .3px;
	position: relative;
	@include font("heading", 600, 12px);


	//Modifiers
	&.primary {
		color: $red;
		background-color: transparent;
		border: 1px solid $red;
		&::after {
			content: "";
			display: block;
			width: 8px;
			height: 8px;
			transform: rotate(-45deg) translateY(-50%);
			position: absolute;
			right: 8px;
			top: 50%;
			border-right: 2px solid $red;
			border-bottom: 2px solid $red;
		}
		&:hover, &.active {
			color: $white;
			background-color: $red;
			&::after {
				border-color: $white;
			}
		}
	}
	&.secondary {
		background-color: transparent;
		border: 1px solid $black1;
		@include font-size(14px);
		font-weight: normal;
		padding: 5px 16px;
		letter-spacing: .5px;
		color: $black1;
		&:hover, &.active {
			background-color: $black1;
			color: $white;
		}
	}
	&.tertiary {
		background-color: transparent;
		padding: 4px 8px;
		font-weight: 300;
		@include font-size(14px);
		text-transform: initial;
		border: 1px solid $black1;
		&:hover, &.active {
			background-color: $black1;
			color: $white;
		}
	}
	&.clean {
		background-color: initial;
		border: 0;
		box-shadow: initial;
		padding: 0;
	}
}

.btn__icon{
	display: block;
	height: 100%;
	svg {
		height: 100%;
	}
}
