/**
 *  ██████╗ █████╗ ██████╗ ██████╗     ██╗     ██╗███████╗████████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗    ██║     ██║██╔════╝╚══██╔══╝
 * ██║     ███████║██████╔╝██║  ██║    ██║     ██║███████╗   ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║    ██║     ██║╚════██║   ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝    ███████╗██║███████║   ██║
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝     ╚══════╝╚═╝╚══════╝   ╚═╝
 *
 *
 * This sheet contains:
 * * The card-list module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.card-list {
	display: flex;
	align-items: center;
	flex-flow: wrap;
	justify-content: space-between;
	@include tablet-p-up {
		width: calc(100% + 32px);
		margin-left: -16px;
	}
}

.card-list__item {
	width: 100%;
	flex-grow: 1;
	transition: .2s;
	@include tablet-p-up {
		width: 50%;
		max-width: 50%;
		padding: 16px;
		&:hover {
			padding: 8px;
		}
	}
	@include tablet-l-up {
		width: 33.3%;
	}
}
