/**
 *
 *  ██████╗ █████╗ ██████╗ ██████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗
 * ██║     ███████║██████╔╝██║  ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝
 *
 *
 * This sheet contains:
 * * The card module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

$card-height: 200px;
$card-title-height: 32px;
$card-total-height: $card-height + $card-title-height;

$card-margin: 16px;

.card {
	max-width: 400px;
	width: 100%;
	height: $card-total-height;
	box-shadow: 1px 1px 0px 1px rgba($color: $black, $alpha: 0.15);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin: $card-margin;
	background-color: $white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s;
	@include tablet-l-up {
		width: calc(33.3% - #{$card-margin *  2});
	}
	&.experimental {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			margin-top: -30px;
			margin-left: -30px;
			transform: rotate(45deg);
			background-color: $red;
			z-index: 2;
		}
	}
	&.is-open {
		.card__content {
			top: 0;
		}
	}
	&:hover {
		width: 33.3%;
		height: #{$card-total-height + $card-margin};
		margin: 0;
		.card__title {
			opacity: 1;
		}
	}
}

.card__content {
	z-index: 2;
	background-color: $black1;
	color: $grey2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 16px 24px;
	top: -100%;
	transition: .2s;
	overflow-y: auto;
}

.card__title {
	height: $card-title-height;
	@include font-size(12px);
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 16px 16px;
	color: $grey2;
	background-color: $black1;
	opacity: .6;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	transition: .2s;
}

.card__image {
	width: 100%;
	img {
		width: auto;
		height: 100%;
		max-width: 100%;
	}
}
