/**
 *
 *  ██████╗ █████╗ ██████╗ ██████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗
 * ██║     ███████║██████╔╝██║  ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝
 *
 *
 * This sheet contains:
 * * The card module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.card {
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 5px 1px rgba($color: $black, $alpha: 0.01);
	overflow: hidden;
	position: relative;
	background-color: $white;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	transition: .2s;
	margin: 8px 0;
	&.experimental {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			margin-top: -30px;
			margin-left: -30px;
			transform: rotate(45deg);
			background-color: $red;
			z-index: 2;
		}
	}
	&.is-open {
		.card__content {
			top: 0;
		}
	}
	&:hover {
		width: 100%;
		.card__title {
			opacity: 1;
		}
		.card__image {
			filter: grayscale(0);
		}
	}
}

.card__content {
	width: 100%;
	height: 100%;
	padding: 24px;
	transition: .2s;
	display: flex;
	flex-direction: column;
}

.card__heading {
	@include font-size(22px);
	@include font("heading", 600, 22px);
}

.card__body {
	@include font("default", 300, 18px);
	color: $grey-1;
}

.card__footer {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.card__categories {
	@include font("default", 700, 14px);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.card__image {
	width: 100%;
	padding-bottom: 50%;
	filter: grayscale(.1);
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0 auto;
		width: auto;
		height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
}
