/**
 *  ██████╗██╗██████╗  ██████╗██╗     ███████╗    ██╗███╗   ██╗███████╗ ██████╗
 * ██╔════╝██║██╔══██╗██╔════╝██║     ██╔════╝    ██║████╗  ██║██╔════╝██╔═══██╗
 * ██║     ██║██████╔╝██║     ██║     █████╗      ██║██╔██╗ ██║█████╗  ██║   ██║
 * ██║     ██║██╔══██╗██║     ██║     ██╔══╝      ██║██║╚██╗██║██╔══╝  ██║   ██║
 * ╚██████╗██║██║  ██║╚██████╗███████╗███████╗    ██║██║ ╚████║██║     ╚██████╔╝
 *  ╚═════╝╚═╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝    ╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝
 *
 */

.circle-info {
	width: 160px;
	max-width: 100%;
	position: relative;
	border: white 4px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: white;
	overflow: hidden;
	@include font("heading", 300, 15px);
	a {
		color: $white;
	}
	&::before {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

.circle-info__heading {
	@include font("default", 600, 10px);
	text-transform: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -24px;
	margin-bottom: 16px;
	color: $white;
}
