/**
 * ███████╗███████╗ █████╗ ████████╗██╗   ██╗██████╗ ███████╗██████╗     ███╗   ███╗███████╗██████╗ ██╗ █████╗
 * ██╔════╝██╔════╝██╔══██╗╚══██╔══╝██║   ██║██╔══██╗██╔════╝██╔══██╗    ████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
 * █████╗  █████╗  ███████║   ██║   ██║   ██║██████╔╝█████╗  ██║  ██║    ██╔████╔██║█████╗  ██║  ██║██║███████║
 * ██╔══╝  ██╔══╝  ██╔══██║   ██║   ██║   ██║██╔══██╗██╔══╝  ██║  ██║    ██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
 * ██║     ███████╗██║  ██║   ██║   ╚██████╔╝██║  ██║███████╗██████╔╝    ██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
 * ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═════╝     ╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝
 *
 *
 * This sheet contains:
 * * The featured media module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.featured-media {
	margin-bottom: 40px;
}

.featured-media__image {
	width: 100%;
	padding-bottom: #{ (300 / 455) * 100% };
	filter: grayscale(.1);
	background-color: $white;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0 auto;
		width: 100%;
		height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
}
