/**
 * ██████╗  █████╗  ██████╗ ███╗   ██╗████████╗███╗   ██╗    ███████╗██╗███╗   ██╗ ██████╗ ██╗     ███████╗
 * ██╔══██╗██╔══██╗██╔════╝ ████╗  ██║╚══██╔══╝████╗  ██║    ██╔════╝██║████╗  ██║██╔════╝ ██║     ██╔════╝
 * ██████╔╝███████║██║  ███╗██╔██╗ ██║   ██║   ██╔██╗ ██║    ███████╗██║██╔██╗ ██║██║  ███╗██║     █████╗
 * ██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║   ██║   ██║╚██╗██║    ╚════██║██║██║╚██╗██║██║   ██║██║     ██╔══╝
 * ██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║   ██║ ╚████║    ███████║██║██║ ╚████║╚██████╔╝███████╗███████╗
 * ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═══╝    ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * The single pagnation module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */
.pagination-single {
	width: $normal-max-width;
	max-width: calc(100vw - 48px);
	margin: 16px auto;
	@include tablet-p-up {
		margin: 48px auto;
	}
}

.pagination-single__content {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	@include tablet-p-up {
		justify-content: space-between;
	}
	color: $white;
	a {
		color: $white;
		opacity: .4;
		transition: opacity .2s;
		&:hover {
			opacity: 1;
		}
	}
}

.previous-post, .next-post {
	margin: 8px 0;
	text-align: center;
	flex-grow: 1;
	@include tablet-p-up {
		margin: 0;
		text-align: left;
	}
}

.next-post {
	@include tablet-p-up {
		text-align: right;
	}
}
