/**
 * ██████╗  ██████╗ ███████╗████████╗     ██████╗██╗      █████╗ ███████╗███████╗
 * ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝    ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝
 * ██████╔╝██║   ██║███████╗   ██║       ██║     ██║     ███████║███████╗███████╗
 * ██╔═══╝ ██║   ██║╚════██║   ██║       ██║     ██║     ██╔══██║╚════██║╚════██║
 * ██║     ╚██████╔╝███████║   ██║       ╚██████╗███████╗██║  ██║███████║███████║██╗
 * ╚═╝      ╚═════╝ ╚══════╝   ╚═╝        ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝
 *
 */

.post-details {
	@include desktop-up {
		position: absolute;
		width: 100%;
		top: 80px;
	}
}
