/**
 *
 *  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 * ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global color variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

$blue-1:#22292E;
$blue:#2A2F3E;
$blue1: #00478C;

$red: #C41736;

$orange-1: #e4490c;
$orange: #FF530D;

$white: #FFFFFF;

$black:#0D0D0D;
$black1:#262626;

$grey: #8C8C8C;
$grey1: #D9D9D9;
$grey2: #EFEFEF;
$grey3: #F2F2F2;
$grey4: #f6f6f6;
