@charset "UTF-8";

/**
 *
 * ███████╗██████╗ ██╗████████╗ ██████╗ ██████╗
 * ██╔════╝██╔══██╗██║╚══██╔══╝██╔═══██╗██╔══██╗
 * █████╗  ██║  ██║██║   ██║   ██║   ██║██████╔╝
 * ██╔══╝  ██║  ██║██║   ██║   ██║   ██║██╔══██╗
 * ███████╗██████╔╝██║   ██║   ╚██████╔╝██║  ██║
 * ╚══════╝╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝
 *
 *
 * This sheet contains:
 * * All the SASS files that should be included in the editor view
 *
 * The file/folder structure follows the basic guidelines of SMACSS. In addition to the default categories there has also been added Global (storing SCSS variables) and Utilities (storing general helper classes).

From http://smacss.com/book/categorizing:

"At the very core of SMACSS is categorization. By categorizing CSS rules, we begin to see patterns and can define better practices around each of these patterns."
There are five types of categories:
 * Base
 * Layout
 * Module
 * State
 * Theme

However with some modifications this is the categories for this project:
 * Global
 * Base
 * Layout
 * Module
 * State
 * Theme

GLOBAL
==========
Global is used to store SCSS variables (font-sizes, spacing, etc.) and overall document styles as the font-size for the HTML tag.

BASE
==========
Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.
Layout rules divide the page into sections.

LAYOUTS
==========
Layouts hold one or more modules together.

MODULES
==========
Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.

STATE
==========
State rules are ways to describe how our modules or layouts will look when in a particular state. Is it hidden or expanded? Is it active or inactive? They are about describing how a module or layout looks on screens that are smaller or bigger. They are also about describing how a module might look in different views like the home page or the inside page.

THEME
==========
Finally, Theme rules are similar to state rules in that they describe how modules or layouts might look. Most sites don’t require a layer of theming but it is good to be aware of it."

*/

/**
 * =========================
 *    || Global
 * =========================
 */

/**
 *
 *  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 * ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global color variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

/**
 *
 * ███████╗██╗███████╗███████╗███████╗
 * ██╔════╝██║╚══███╔╝██╔════╝██╔════╝
 * ███████╗██║  ███╔╝ █████╗  ███████╗
 * ╚════██║██║ ███╔╝  ██╔══╝  ╚════██║
 * ███████║██║███████╗███████╗███████║
 * ╚══════╝╚═╝╚══════╝╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global size variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

html {
  height: 100%;
}

/**
 *
 * ████████╗███████╗██╗  ██╗████████╗
 * ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
 *    ██║   █████╗   ╚███╔╝    ██║
 *    ██║   ██╔══╝   ██╔██╗    ██║
 *    ██║   ███████╗██╔╝ ██╗   ██║
 *    ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * Global text/font variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

html {
  font-size: 18px;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
}

/**
 *
 * ███████╗██╗   ██╗███╗   ██╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
 * ██╔════╝██║   ██║████╗  ██║██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
 * █████╗  ██║   ██║██╔██╗ ██║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
 * ██╔══╝  ██║   ██║██║╚██╗██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
 * ██║     ╚██████╔╝██║ ╚████║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
 * ╚═╝      ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 *
 *
 * This sheet contains:
 * * Handy SCSS functions
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

/**
 * String Replace
 *
 * @param   {string}  $string   The string/character to find
 * @param   {string}  $search   The string that should be searched
 * @param   {string}  $replace  The string to replace the string/character that is found
 *
 * @return  {string}            The new string with the replaced string/character.
 */

/**
 *
 * ███╗   ███╗███████╗██████╗ ██╗ █████╗     ███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
 * ████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
 * ██╔████╔██║█████╗  ██║  ██║██║███████║    ██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
 * ██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
 * ██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
 * ╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝    ╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
 *
 *
 * This sheet contains:
 * * Mediaqueries for different media.
 *
 * This sheet is a part of the Utilities folder which is not really a part of SMACSS:
 * General classes/helpers that can be used to extend other classes. Often general styles that can be applied wherever.
 */

/**
 * Check for IE
 */

/**
 * Media queries
 */

/**
 * =========================
 *    || Tablets (landscape)
 * =========================
 * Tablets in landscape mode and less
 */

/**
 * =========================
 *    || Tablets (portrait )
 * =========================
 * Tablets in portrait mode and less, large display smartphones landscape mode and less
 */

/**
 * =========================
 *    || Phones (landscape)
 * =========================
 * Smartphones in landscape mode and less
 */

/**
 * =========================
 *    || Phones (portrait)
 * =========================
 * Smartphones in portrait mode and less
 */

/**
 * =========================
 *    || Base
 * =========================
 */

/**
 *
 * ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
 * ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
 * ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
 * ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
 * ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
 *  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * Utilities for general classes
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors, however this document does because it's utilities. It is defining the default styling for how that element should look in all occurrences on the page.
*/

.alignwide {
  width: 960px;
  max-width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.edit-post-visual-editor.editor-styles-wrapper {
  /**
 *
 * ██████╗ ███████╗███████╗███████╗████████╗
 * ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
 * ██████╔╝█████╗  ███████╗█████╗     ██║
 * ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║
 * ██║  ██║███████╗███████║███████╗   ██║
 * ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝
 *
 *
 * This sheet contains:
 * * Resets of tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/
  /**
 *
 * ██╗    ██╗██████╗  █████╗ ██████╗ ██████╗ ███████╗██████╗ ███████╗
 * ██║    ██║██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝
 * ██║ █╗ ██║██████╔╝███████║██████╔╝██████╔╝█████╗  ██████╔╝███████╗
 * ██║███╗██║██╔══██╗██╔══██║██╔═══╝ ██╔═══╝ ██╔══╝  ██╔══██╗╚════██║
 * ╚███╔███╔╝██║  ██║██║  ██║██║     ██║     ███████╗██║  ██║███████║
 *  ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Styling of wrapper tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/
  /**
 *
 * ███████╗██╗ ██████╗ ██╗   ██╗██████╗ ███████╗███████╗
 * ██╔════╝██║██╔════╝ ██║   ██║██╔══██╗██╔════╝██╔════╝
 * █████╗  ██║██║  ███╗██║   ██║██████╔╝█████╗  ███████╗
 * ██╔══╝  ██║██║   ██║██║   ██║██╔══██╗██╔══╝  ╚════██║
 * ██║     ██║╚██████╔╝╚██████╔╝██║  ██║███████╗███████║
 * ╚═╝     ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * Styling of figure tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/
  /**
 *
 * ████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
 * ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
 *    ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
 *    ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
 *    ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
 *    ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * Typography changes to tags
 * * Typography tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/
  /**
 * =========================
 *    || Typography tags
 * =========================
 */
  /**
 * =========================
 *    || Figures tags
 * =========================
 */
  /**
 * =========================
 *    || Listings tags
 * =========================
 */
  /**
 * =========================
 *    || Code tag
 * =========================
 */
  /**
	* =========================
	*    || State
	* =========================
	*/
  /**
 *
 * ████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
 * ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
 *    ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
 *    ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
 *    ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
 *    ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * All typography state changes
 *
 * This sheet is a part of the State folder and follow the State rules:
 * A state is something that augments and overrides all other styles (something that changes the state of something).
 * For example, an accordion section may be in a collapsed or expanded state. A message may be in a success or error
 * state. States are generally applied to the same element as a layout rule or applied to the same element as a
 * base module class.
 */
}

.edit-post-visual-editor.editor-styles-wrapper html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edit-post-visual-editor.editor-styles-wrapper body,.edit-post-visual-editor.editor-styles-wrapper div,.edit-post-visual-editor.editor-styles-wrapper main,.edit-post-visual-editor.editor-styles-wrapper span,.edit-post-visual-editor.editor-styles-wrapper object,.edit-post-visual-editor.editor-styles-wrapper iframe,.edit-post-visual-editor.editor-styles-wrapper h1,.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h3,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h5,.edit-post-visual-editor.editor-styles-wrapper h6,.edit-post-visual-editor.editor-styles-wrapper p,.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper pre,.edit-post-visual-editor.editor-styles-wrapper a,.edit-post-visual-editor.editor-styles-wrapper abbr,.edit-post-visual-editor.editor-styles-wrapper address,.edit-post-visual-editor.editor-styles-wrapper big,.edit-post-visual-editor.editor-styles-wrapper cite,.edit-post-visual-editor.editor-styles-wrapper code,.edit-post-visual-editor.editor-styles-wrapper del,.edit-post-visual-editor.editor-styles-wrapper dfn,.edit-post-visual-editor.editor-styles-wrapper em,.edit-post-visual-editor.editor-styles-wrapper img,.edit-post-visual-editor.editor-styles-wrapper ins,.edit-post-visual-editor.editor-styles-wrapper kbd,.edit-post-visual-editor.editor-styles-wrapper q,.edit-post-visual-editor.editor-styles-wrapper s,.edit-post-visual-editor.editor-styles-wrapper samp,.edit-post-visual-editor.editor-styles-wrapper small,.edit-post-visual-editor.editor-styles-wrapper strong,.edit-post-visual-editor.editor-styles-wrapper sub,.edit-post-visual-editor.editor-styles-wrapper sup,.edit-post-visual-editor.editor-styles-wrapper var,.edit-post-visual-editor.editor-styles-wrapper b,.edit-post-visual-editor.editor-styles-wrapper u,.edit-post-visual-editor.editor-styles-wrapper i,.edit-post-visual-editor.editor-styles-wrapper center,.edit-post-visual-editor.editor-styles-wrapper dl,.edit-post-visual-editor.editor-styles-wrapper dt,.edit-post-visual-editor.editor-styles-wrapper dd,.edit-post-visual-editor.editor-styles-wrapper ol,.edit-post-visual-editor.editor-styles-wrapper ul,.edit-post-visual-editor.editor-styles-wrapper li,.edit-post-visual-editor.editor-styles-wrapper fieldset,.edit-post-visual-editor.editor-styles-wrapper form,.edit-post-visual-editor.editor-styles-wrapper label,.edit-post-visual-editor.editor-styles-wrapper legend,.edit-post-visual-editor.editor-styles-wrapper table,.edit-post-visual-editor.editor-styles-wrapper caption,.edit-post-visual-editor.editor-styles-wrapper tbody,.edit-post-visual-editor.editor-styles-wrapper tfoot,.edit-post-visual-editor.editor-styles-wrapper thead,.edit-post-visual-editor.editor-styles-wrapper tr,.edit-post-visual-editor.editor-styles-wrapper th,.edit-post-visual-editor.editor-styles-wrapper td,.edit-post-visual-editor.editor-styles-wrapper article,.edit-post-visual-editor.editor-styles-wrapper aside,.edit-post-visual-editor.editor-styles-wrapper canvas,.edit-post-visual-editor.editor-styles-wrapper details,.edit-post-visual-editor.editor-styles-wrapper embed,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper figcaption,.edit-post-visual-editor.editor-styles-wrapper footer,.edit-post-visual-editor.editor-styles-wrapper header,.edit-post-visual-editor.editor-styles-wrapper hgroup,.edit-post-visual-editor.editor-styles-wrapper menu,.edit-post-visual-editor.editor-styles-wrapper nav,.edit-post-visual-editor.editor-styles-wrapper output,.edit-post-visual-editor.editor-styles-wrapper ruby,.edit-post-visual-editor.editor-styles-wrapper section,.edit-post-visual-editor.editor-styles-wrapper summary,.edit-post-visual-editor.editor-styles-wrapper time,.edit-post-visual-editor.editor-styles-wrapper mark,.edit-post-visual-editor.editor-styles-wrapper audio,.edit-post-visual-editor.editor-styles-wrapper video,.edit-post-visual-editor.editor-styles-wrapper article,.edit-post-visual-editor.editor-styles-wrapper aside,.edit-post-visual-editor.editor-styles-wrapper details,.edit-post-visual-editor.editor-styles-wrapper figcaption,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper footer,.edit-post-visual-editor.editor-styles-wrapper header,.edit-post-visual-editor.editor-styles-wrapper hgroup,.edit-post-visual-editor.editor-styles-wrapper menu,.edit-post-visual-editor.editor-styles-wrapper nav,.edit-post-visual-editor.editor-styles-wrapper section,.edit-post-visual-editor.editor-styles-wrapper ol,.edit-post-visual-editor.editor-styles-wrapper ul,.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper q,.edit-post-visual-editor.editor-styles-wrapper table,.edit-post-visual-editor.editor-styles-wrapper blockquote:before,.edit-post-visual-editor.editor-styles-wrapper blockquote:after,.edit-post-visual-editor.editor-styles-wrapper q:before,.edit-post-visual-editor.editor-styles-wrapper q:after,.edit-post-visual-editor.editor-styles-wrapper audio,.edit-post-visual-editor.editor-styles-wrapper canvas,.edit-post-visual-editor.editor-styles-wrapper video,.edit-post-visual-editor.editor-styles-wrapper a:focus,.edit-post-visual-editor.editor-styles-wrapper a:active,.edit-post-visual-editor.editor-styles-wrapper a:hover,.edit-post-visual-editor.editor-styles-wrapper img,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper select,.edit-post-visual-editor.editor-styles-wrapper textarea,.edit-post-visual-editor.editor-styles-wrapper button,.edit-post-visual-editor.editor-styles-wrapper input,.edit-post-visual-editor.editor-styles-wrapper input[type="button"],.edit-post-visual-editor.editor-styles-wrapper input[type="reset"],.edit-post-visual-editor.editor-styles-wrapper input[type="submit"],.edit-post-visual-editor.editor-styles-wrapper button[disabled],.edit-post-visual-editor.editor-styles-wrapper input[disabled],.edit-post-visual-editor.editor-styles-wrapper input[type="checkbox"],.edit-post-visual-editor.editor-styles-wrapper input[type="radio"],.edit-post-visual-editor.editor-styles-wrapper input[type="search"] {
  outline: 0;
}

.edit-post-visual-editor.editor-styles-wrapper body,.edit-post-visual-editor.editor-styles-wrapper main,.edit-post-visual-editor.editor-styles-wrapper object,.edit-post-visual-editor.editor-styles-wrapper iframe,.edit-post-visual-editor.editor-styles-wrapper h1,.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h3,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h5,.edit-post-visual-editor.editor-styles-wrapper h6,.edit-post-visual-editor.editor-styles-wrapper p,.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper pre,.edit-post-visual-editor.editor-styles-wrapper a,.edit-post-visual-editor.editor-styles-wrapper abbr,.edit-post-visual-editor.editor-styles-wrapper address,.edit-post-visual-editor.editor-styles-wrapper big,.edit-post-visual-editor.editor-styles-wrapper cite,.edit-post-visual-editor.editor-styles-wrapper code,.edit-post-visual-editor.editor-styles-wrapper del,.edit-post-visual-editor.editor-styles-wrapper dfn,.edit-post-visual-editor.editor-styles-wrapper em,.edit-post-visual-editor.editor-styles-wrapper img,.edit-post-visual-editor.editor-styles-wrapper ins,.edit-post-visual-editor.editor-styles-wrapper kbd,.edit-post-visual-editor.editor-styles-wrapper q,.edit-post-visual-editor.editor-styles-wrapper s,.edit-post-visual-editor.editor-styles-wrapper samp,.edit-post-visual-editor.editor-styles-wrapper small,.edit-post-visual-editor.editor-styles-wrapper strong,.edit-post-visual-editor.editor-styles-wrapper sub,.edit-post-visual-editor.editor-styles-wrapper sup,.edit-post-visual-editor.editor-styles-wrapper var,.edit-post-visual-editor.editor-styles-wrapper b,.edit-post-visual-editor.editor-styles-wrapper u,.edit-post-visual-editor.editor-styles-wrapper i,.edit-post-visual-editor.editor-styles-wrapper center,.edit-post-visual-editor.editor-styles-wrapper dl,.edit-post-visual-editor.editor-styles-wrapper dt,.edit-post-visual-editor.editor-styles-wrapper dd,.edit-post-visual-editor.editor-styles-wrapper ol,.edit-post-visual-editor.editor-styles-wrapper ul,.edit-post-visual-editor.editor-styles-wrapper li,.edit-post-visual-editor.editor-styles-wrapper fieldset,.edit-post-visual-editor.editor-styles-wrapper form,.edit-post-visual-editor.editor-styles-wrapper label,.edit-post-visual-editor.editor-styles-wrapper legend,.edit-post-visual-editor.editor-styles-wrapper table,.edit-post-visual-editor.editor-styles-wrapper caption,.edit-post-visual-editor.editor-styles-wrapper tbody,.edit-post-visual-editor.editor-styles-wrapper tfoot,.edit-post-visual-editor.editor-styles-wrapper thead,.edit-post-visual-editor.editor-styles-wrapper tr,.edit-post-visual-editor.editor-styles-wrapper th,.edit-post-visual-editor.editor-styles-wrapper td,.edit-post-visual-editor.editor-styles-wrapper article,.edit-post-visual-editor.editor-styles-wrapper aside,.edit-post-visual-editor.editor-styles-wrapper canvas,.edit-post-visual-editor.editor-styles-wrapper details,.edit-post-visual-editor.editor-styles-wrapper embed,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper figcaption,.edit-post-visual-editor.editor-styles-wrapper footer,.edit-post-visual-editor.editor-styles-wrapper header,.edit-post-visual-editor.editor-styles-wrapper hgroup,.edit-post-visual-editor.editor-styles-wrapper menu,.edit-post-visual-editor.editor-styles-wrapper nav,.edit-post-visual-editor.editor-styles-wrapper output,.edit-post-visual-editor.editor-styles-wrapper ruby,.edit-post-visual-editor.editor-styles-wrapper section,.edit-post-visual-editor.editor-styles-wrapper summary,.edit-post-visual-editor.editor-styles-wrapper time,.edit-post-visual-editor.editor-styles-wrapper mark,.edit-post-visual-editor.editor-styles-wrapper audio,.edit-post-visual-editor.editor-styles-wrapper video,.edit-post-visual-editor.editor-styles-wrapper article,.edit-post-visual-editor.editor-styles-wrapper aside,.edit-post-visual-editor.editor-styles-wrapper details,.edit-post-visual-editor.editor-styles-wrapper figcaption,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper footer,.edit-post-visual-editor.editor-styles-wrapper header,.edit-post-visual-editor.editor-styles-wrapper hgroup,.edit-post-visual-editor.editor-styles-wrapper menu,.edit-post-visual-editor.editor-styles-wrapper nav,.edit-post-visual-editor.editor-styles-wrapper section,.edit-post-visual-editor.editor-styles-wrapper ol,.edit-post-visual-editor.editor-styles-wrapper ul,.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper q,.edit-post-visual-editor.editor-styles-wrapper table,.edit-post-visual-editor.editor-styles-wrapper blockquote:before,.edit-post-visual-editor.editor-styles-wrapper blockquote:after,.edit-post-visual-editor.editor-styles-wrapper q:before,.edit-post-visual-editor.editor-styles-wrapper q:after,.edit-post-visual-editor.editor-styles-wrapper audio,.edit-post-visual-editor.editor-styles-wrapper canvas,.edit-post-visual-editor.editor-styles-wrapper video,.edit-post-visual-editor.editor-styles-wrapper a:focus,.edit-post-visual-editor.editor-styles-wrapper a:active,.edit-post-visual-editor.editor-styles-wrapper a:hover,.edit-post-visual-editor.editor-styles-wrapper img,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper select,.edit-post-visual-editor.editor-styles-wrapper textarea {
  vertical-align: baseline;
}

.edit-post-visual-editor.editor-styles-wrapper *,.edit-post-visual-editor.editor-styles-wrapper *::before,.edit-post-visual-editor.editor-styles-wrapper *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper [hidden] {
  display: none;
}

.edit-post-visual-editor.editor-styles-wrapper html {
  overflow-x: hidden;
}

.edit-post-visual-editor.editor-styles-wrapper body {
  background-color: #1C1C1C;
  margin: 0;
}

.edit-post-visual-editor.editor-styles-wrapper canvas {
  border: 3px solid #0D0D0D;
}

.edit-post-visual-editor.editor-styles-wrapper img {
  margin: 0;
  display: block;
}

.edit-post-visual-editor.editor-styles-wrapper audio,.edit-post-visual-editor.editor-styles-wrapper video,.edit-post-visual-editor.editor-styles-wrapper canvas,.edit-post-visual-editor.editor-styles-wrapper iframe,.edit-post-visual-editor.editor-styles-wrapper meter,.edit-post-visual-editor.editor-styles-wrapper progress,.edit-post-visual-editor.editor-styles-wrapper figure,.edit-post-visual-editor.editor-styles-wrapper figcaption {
  margin: 0;
}

.edit-post-visual-editor.editor-styles-wrapper h1,.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h3,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h5,.edit-post-visual-editor.editor-styles-wrapper h6,.edit-post-visual-editor.editor-styles-wrapper p,.edit-post-visual-editor.editor-styles-wrapper a,.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper cite,.edit-post-visual-editor.editor-styles-wrapper pre,.edit-post-visual-editor.editor-styles-wrapper label,.edit-post-visual-editor.editor-styles-wrapper figcaption {
  font-weight: inherit;
  word-break: break-word;
}

.edit-post-visual-editor.editor-styles-wrapper h1,.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h3,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h5,.edit-post-visual-editor.editor-styles-wrapper h6 {
  font-family: "Lato", Helvetica, sans-serif;
  margin-top: 16px;
  margin-bottom: 16px;
}

.edit-post-visual-editor.editor-styles-wrapper h1:first-child,.edit-post-visual-editor.editor-styles-wrapper h2:first-child,.edit-post-visual-editor.editor-styles-wrapper h3:first-child,.edit-post-visual-editor.editor-styles-wrapper h4:first-child,.edit-post-visual-editor.editor-styles-wrapper h5:first-child,.edit-post-visual-editor.editor-styles-wrapper h6:first-child {
  margin-top: 0;
}

.edit-post-visual-editor.editor-styles-wrapper h1 + p,.edit-post-visual-editor.editor-styles-wrapper h2 + p,.edit-post-visual-editor.editor-styles-wrapper h3 + p,.edit-post-visual-editor.editor-styles-wrapper h4 + p,.edit-post-visual-editor.editor-styles-wrapper h5 + p,.edit-post-visual-editor.editor-styles-wrapper h6 + p {
  margin-top: 0;
}

.edit-post-visual-editor.editor-styles-wrapper h1,.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h6 {
  font-weight: bold;
}

.edit-post-visual-editor.editor-styles-wrapper h2,.edit-post-visual-editor.editor-styles-wrapper h4,.edit-post-visual-editor.editor-styles-wrapper h5 {
  letter-spacing: .5px;
  font-family: #00478C;
}

.edit-post-visual-editor.editor-styles-wrapper h1 {
  font-size: 48px;
  font-size: 2.4rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper h2 {
  font-size: 32px;
  font-size: 1.6rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper h3 {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper h4 {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper h5 {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: bold;
}

.edit-post-visual-editor.editor-styles-wrapper h6 {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
  margin-bottom: 4px;
}

.edit-post-visual-editor.editor-styles-wrapper blockquote,.edit-post-visual-editor.editor-styles-wrapper cite,.edit-post-visual-editor.editor-styles-wrapper pre,.edit-post-visual-editor.editor-styles-wrapper label,.edit-post-visual-editor.editor-styles-wrapper figcaption {
  margin-top: 8px;
  margin-bottom: 8px;
}

.edit-post-visual-editor.editor-styles-wrapper p {
  margin-top: 0;
  margin-bottom: 24px;
}

.edit-post-visual-editor.editor-styles-wrapper a {
  color: #ea165c;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.edit-post-visual-editor.editor-styles-wrapper a:hover {
  color: #ea165c;
  text-decoration: underline;
}

.edit-post-visual-editor.editor-styles-wrapper a svg {
  opacity: .8;
}

.edit-post-visual-editor.editor-styles-wrapper a svg:hover {
  opacity: 1;
}

.edit-post-visual-editor.editor-styles-wrapper small,.edit-post-visual-editor.editor-styles-wrapper sub,.edit-post-visual-editor.editor-styles-wrapper sup {
  font-size: 12px;
  font-size: 0.6rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper sup {
  vertical-align: top;
}

.edit-post-visual-editor.editor-styles-wrapper mark {
  background-color: #00478C;
  color: #2A2F3E;
}

.edit-post-visual-editor.editor-styles-wrapper figcaption {
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 1.2;
}

.edit-post-visual-editor.editor-styles-wrapper dl,.edit-post-visual-editor.editor-styles-wrapper ol,.edit-post-visual-editor.editor-styles-wrapper ul,.edit-post-visual-editor.editor-styles-wrapper dt,.edit-post-visual-editor.editor-styles-wrapper dd,.edit-post-visual-editor.editor-styles-wrapper li,.edit-post-visual-editor.editor-styles-wrapper tr,.edit-post-visual-editor.editor-styles-wrapper th,.edit-post-visual-editor.editor-styles-wrapper caption {
  font-family: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper code {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
}

.edit-post-visual-editor.editor-styles-wrapper p.is-style-preamble {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 1.2;
  font-style: italic;
}

.edit-post-visual-editor.editor-styles-wrapper p.is-style-notice {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
  font-style: italic;
  position: relative;
}

.edit-post-visual-editor.editor-styles-wrapper p.is-style-notice::before {
  content: "";
  margin-right: 21px;
  vertical-align: middle;
}

.edit-post-visual-editor.editor-styles-wrapper p.is-style-notice::after {
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M12 2A10 10 0 112 12 10 10 0 0112 2zm0-2a12 12 0 1012 12A12 12 0 0012 0zm-1 6h2v8h-2zm1 12.25A1.25 1.25 0 1113.25 17 1.25 1.25 0 0112 18.25z' fill='%23FFFFFF' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
}

.edit-post-visual-editor.editor-styles-wrapper p.is-style-notice.wp-block::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M12 2A10 10 0 112 12 10 10 0 0112 2zm0-2a12 12 0 1012 12A12 12 0 0012 0zm-1 6h2v8h-2zm1 12.25A1.25 1.25 0 1113.25 17 1.25 1.25 0 0112 18.25z' fill='%231C1C1C' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
}

/**
 * =========================
 *    || Layout
 * =========================
 */

/* NONE */

/**
 * =========================
 *    || Module
 * =========================
 */

/**
 *
 * ██████╗ ████████╗███╗   ██╗
 * ██╔══██╗╚══██╔══╝████╗  ██║
 * ██████╔╝   ██║   ██╔██╗ ██║
 * ██╔══██╗   ██║   ██║╚██╗██║
 * ██████╔╝   ██║   ██║ ╚████║
 * ╚═════╝    ╚═╝   ╚═╝  ╚═══╝
 *
 *
 * This sheet contains:
 * * The btn (button) module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.btn,.code-toolbar .toolbar button {
  border-radius: 3px;
  padding: 5px 12px;
  padding-right: 24px;
  -webkit-transition: .15s ease;
  transition: .15s ease;
  text-transform: uppercase;
  letter-spacing: .3px;
  position: relative;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  font-size: 0.6rem;
  line-height: 1.2;
}

.btn:hover,.code-toolbar .toolbar button:hover {
  text-decoration: none;
}

.btn.primary,.code-toolbar .toolbar button.primary {
  color: #ea165c;
  background-color: transparent;
  border: 1px solid #ea165c;
}

.btn.primary::after,.code-toolbar .toolbar button.primary::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  right: 8px;
  top: 50%;
  border-right: 2px solid #ea165c;
  border-bottom: 2px solid #ea165c;
}

.btn.primary:hover,.code-toolbar .toolbar button.primary:hover,.btn.primary.active,.code-toolbar .toolbar button.primary.active {
  color: #FFFFFF;
  background-color: #ea165c;
}

.btn.primary:hover::after,.code-toolbar .toolbar button.primary:hover::after,.btn.primary.active::after,.code-toolbar .toolbar button.primary.active::after {
  border-color: #FFFFFF;
}

.btn.secondary,.code-toolbar .toolbar button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: normal;
  padding: 5px 16px;
  letter-spacing: .5px;
  color: #FFFFFF;
}

.btn.secondary:hover,.code-toolbar .toolbar button:hover,.btn.secondary.active,.code-toolbar .toolbar button.active {
  background-color: #FFFFFF;
  color: #1C1C1C;
}

.btn.tertiary,.code-toolbar .toolbar button.tertiary {
  background-color: transparent;
  padding: 4px 8px;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 1.2;
  text-transform: initial;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.btn.tertiary:hover,.code-toolbar .toolbar button.tertiary:hover,.btn.tertiary.active,.code-toolbar .toolbar button.tertiary.active {
  background-color: #FFFFFF;
  color: #1C1C1C;
}

.btn.clean,.code-toolbar .toolbar button.clean {
  background-color: initial;
  border: 0;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  padding: 0;
}

.btn__icon {
  display: block;
  height: 100%;
}

.btn__icon svg {
  height: 100%;
}

/**
 *
 * ██╗███╗   ███╗ ██████╗
 * ██║████╗ ████║██╔════╝
 * ██║██╔████╔██║██║  ███╗
 * ██║██║╚██╔╝██║██║   ██║
 * ██║██║ ╚═╝ ██║╚██████╔╝
 * ╚═╝╚═╝     ╚═╝ ╚═════╝
 *
 *
 * This sheet contains:
 * * The img (image) module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.img {
  width: auto;
  height: 100%;
}

.img.bg {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/**
 *
 * ███████╗██╗███████╗██╗     ██████╗
 * ██╔════╝██║██╔════╝██║     ██╔══██╗
 * █████╗  ██║█████╗  ██║     ██║  ██║
 * ██╔══╝  ██║██╔══╝  ██║     ██║  ██║
 * ██║     ██║███████╗███████╗██████╔╝
 * ╚═╝     ╚═╝╚══════╝╚══════╝╚═════╝
 *
 *
 * This sheet contains:
 * * The field module (primarily for inputs and textareas)
 * --------------------
 * Used for fields that often has a value a user write or have written.
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.field {
  border-radius: 2px;
  display: block;
  background-color: #E2E2E2;
  border: 1px solid #22292E;
  max-width: 200px;
  margin: 8px 0;
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
}

.field.input {
  padding: 8px;
  border-radius: 4px;
}

.field.hide {
  display: none;
}

.field__option {
  padding: 8px;
  border-bottom: 2px solid #8C8C8C;
}

.field__option:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

/**
 *
 * ██╗      █████╗ ██████╗ ███████╗██╗
 * ██║     ██╔══██╗██╔══██╗██╔════╝██║
 * ██║     ███████║██████╔╝█████╗  ██║
 * ██║     ██╔══██║██╔══██╗██╔══╝  ██║
 * ███████╗██║  ██║██████╔╝███████╗███████╗
 * ╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * The label module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.label {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

/**
 * ███████╗███████╗ █████╗ ████████╗██╗   ██╗██████╗ ███████╗██████╗     ███╗   ███╗███████╗██████╗ ██╗ █████╗
 * ██╔════╝██╔════╝██╔══██╗╚══██╔══╝██║   ██║██╔══██╗██╔════╝██╔══██╗    ████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
 * █████╗  █████╗  ███████║   ██║   ██║   ██║██████╔╝█████╗  ██║  ██║    ██╔████╔██║█████╗  ██║  ██║██║███████║
 * ██╔══╝  ██╔══╝  ██╔══██║   ██║   ██║   ██║██╔══██╗██╔══╝  ██║  ██║    ██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
 * ██║     ███████╗██║  ██║   ██║   ╚██████╔╝██║  ██║███████╗██████╔╝    ██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
 * ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═════╝     ╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝
 *
 *
 * This sheet contains:
 * * The featured media module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.featured-media {
  margin-bottom: 24px;
}

.featured-media__image {
  width: 100%;
  padding-bottom: 46.875%;
  overflow: hidden;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  background-color: #FFFFFF;
}

.featured-media__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/**
 *
 * ████████╗███████╗██╗  ██╗████████╗    ██╗     ██╗███████╗████████╗
 * ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝    ██║     ██║██╔════╝╚══██╔══╝
 *    ██║   █████╗   ╚███╔╝    ██║       ██║     ██║███████╗   ██║
 *    ██║   ██╔══╝   ██╔██╗    ██║       ██║     ██║╚════██║   ██║
 *    ██║   ███████╗██╔╝ ██╗   ██║       ███████╗██║███████║   ██║
 *    ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝       ╚══════╝╚═╝╚══════╝   ╚═╝
 *
 *
 * This sheet contains:
 * * The text list module
 * --------------------
 * A regular ul or ol list
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.text-list {
  -webkit-padding-start: 40px;
  padding-inline-start: 40px;
}

.text-list.square {
  list-style: square;
}

.text-list.decimal {
  list-style: decimal;
}

.text-list__item {
  list-style: inherit;
}

/**
 *
 * ████████╗ █████╗ ██████╗ ██╗     ███████╗███████╗
 * ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
 *    ██║   ███████║██████╔╝██║     █████╗  ███████╗
 *    ██║   ██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 *    ██║   ██║  ██║██████╔╝███████╗███████╗███████║
 *    ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * The spreadsheet module (primarily for tables)
 * --------------------
 * A spreadsheet for budgets or similar. Kind of like an Excel sheet.
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

/**
 *
 * ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
 * ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
 * ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
 * ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
 * ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
 * ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
 *
 *
 * This sheet contains:
 * * The section module
 * --------------------
 * Used for sections.
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.section {
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #E2E2E2;
}

.block-editor .section {
  width: 100%;
}

.section__content {
  margin: 0 auto;
  max-width: 640px;
}

.section__content.wide {
  max-width: 750px;
}

/**
 *
 *  ██████╗ ██╗   ██╗ ██████╗ ████████╗███████╗
 * ██╔═══██╗██║   ██║██╔═══██╗╚══██╔══╝██╔════╝
 * ██║   ██║██║   ██║██║   ██║   ██║   █████╗
 * ██║▄▄ ██║██║   ██║██║   ██║   ██║   ██╔══╝
 * ╚██████╔╝╚██████╔╝╚██████╔╝   ██║   ███████╗
 *  ╚══▀▀═╝  ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝
 *
 *
 * This sheet contains:
 * * The quote module
 * --------------------
 * Used for quotes.
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.quote {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: #2A2F3E;
  color: #FFFFFF;
  padding: 4px;
  margin: 0;
}

.quote:before {
  content: "\"";
  font-size: 160px;
  font-size: 8rem;
  line-height: 1.2;
  float: right;
  vertical-align: text-top;
  margin-top: calc( 32px * -1);
  position: relative;
}

.quote__cite {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
}

/**
 *  ██████╗ █████╗ ██████╗ ██████╗     ██╗     ██╗███████╗████████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗    ██║     ██║██╔════╝╚══██╔══╝
 * ██║     ███████║██████╔╝██║  ██║    ██║     ██║███████╗   ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║    ██║     ██║╚════██║   ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝    ███████╗██║███████║   ██║
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝     ╚══════╝╚═╝╚══════╝   ╚═╝
 *
 *
 * This sheet contains:
 * * The card-list module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-list__item {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  padding-bottom: 16px;
}

/**
 *
 *  ██████╗ █████╗ ██████╗ ██████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗
 * ██║     ███████║██████╔╝██║  ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝
 *
 *
 * This sheet contains:
 * * The card module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.05);
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  cursor: pointer;
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 8px 0;
}

.card.experimental::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ea165c;
  z-index: 2;
}

.card.is-open .card__content {
  top: 0;
}

.card:hover {
  text-decoration: none;
  -webkit-transform: scale(1.015) translateZ(0);
  transform: scale(1.015) translateZ(0);
}

.card:hover .card__image {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.card__content {
  width: 100%;
  height: 100%;
  padding: 24px;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebebeb;
  border-top: 2px solid #808080;
}

.card__heading {
  font-size: 22px;
  font-size: 1.1rem;
  line-height: 1.2;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-size: 1.1rem;
  line-height: 1.2;
  color: #1C1C1C;
}

.card__body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #535353;
}

.card__footer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__categories {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1C1C1C;
}

.card__image {
  width: 100%;
  padding-bottom: 50%;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  overflow: hidden;
}

.card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: auto;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/**
 *  ██████╗ █████╗ ██████╗ ██████╗     ██╗     ██╗███████╗████████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔══██╗    ██║     ██║██╔════╝╚══██╔══╝
 * ██║     ███████║██████╔╝██║  ██║    ██║     ██║███████╗   ██║
 * ██║     ██╔══██║██╔══██╗██║  ██║    ██║     ██║╚════██║   ██║
 * ╚██████╗██║  ██║██║  ██║██████╔╝    ███████╗██║███████║   ██║
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝     ╚══════╝╚═╝╚══════╝   ╚═╝
 *
 *
 * This sheet contains:
 * * The card-list module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 640px;
  margin: 0 auto;
}

.checkbox-list.tight .checkbox-list__item {
  margin: 2px;
}

.checkbox-list__item {
  margin: 16px;
}

/**
 *
 * ███████╗██╗██╗  ████████╗███████╗██████╗     ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
 * ██╔════╝██║██║  ╚══██╔══╝██╔════╝██╔══██╗    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
 * █████╗  ██║██║     ██║   █████╗  ██████╔╝    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
 * ██╔══╝  ██║██║     ██║   ██╔══╝  ██╔══██╗    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
 * ██║     ██║███████╗██║   ███████╗██║  ██║    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
 * ╚═╝     ╚═╝╚══════╝╚═╝   ╚══════╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
 *
 *
 * This sheet contains:
 * * The filter section module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin: 16px 0;
}

.filter-section__item {
  text-align: center;
  margin: 16px;
}

.filter-section__item.full {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.filter-section__sub-heading {
  margin-bottom: 0;
}

.filter-section__sub-heading.tags {
  margin-bottom: 8px;
}

/**
 *
 * ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
 * ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
 * ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
 * ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
 * ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
 * ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
 *
 *
 * This sheet contains:
 * * The header module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.header {
  width: 100%;
  margin: 24px 0;
}

.header__heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.header__preamble {
  max-width: 640px;
  margin: 24px auto;
}

/**
 * ██╗    ██╗██████╗     ██████╗ ██╗      ██████╗  ██████╗██╗  ██╗     ██████╗ ██████╗ ██████╗ ███████╗
 * ██║    ██║██╔══██╗    ██╔══██╗██║     ██╔═══██╗██╔════╝██║ ██╔╝    ██╔════╝██╔═══██╗██╔══██╗██╔════╝
 * ██║ █╗ ██║██████╔╝    ██████╔╝██║     ██║   ██║██║     █████╔╝     ██║     ██║   ██║██║  ██║█████╗
 * ██║███╗██║██╔═══╝     ██╔══██╗██║     ██║   ██║██║     ██╔═██╗     ██║     ██║   ██║██║  ██║██╔══╝
 * ╚███╔███╔╝██║         ██████╔╝███████╗╚██████╔╝╚██████╗██║  ██╗    ╚██████╗╚██████╔╝██████╔╝███████╗
 *  ╚══╝╚══╝ ╚═╝         ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝
 *
 * Monokai theme for PRISM.js
 * ==========
 * @author Warwick
 * Based on Sam Clarke's Monkai Theme
 *
 */

/**
 * ----------
 * 	Colors
 * ----------
 */

.wp-block-code {
  margin: 24px 0;
  /* Code blocks */
  /* Inline code */
  /* YAML & Bash */
}

.wp-block-code[class*="language-"],.wp-block-code code[class*="language-"],.wp-block-code .token * {
  color: #f8f8f2;
  background: none;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.wp-block-code[class*="language-"] {
  padding: .8em;
  overflow: auto;
  background: #272822;
}

.wp-block-code:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
  background: #272822;
}

.wp-block-code .token.comment,.wp-block-code .token.blockquote {
  color: #75715e;
}

.wp-block-code .token.important,.wp-block-code .token.keyword,.wp-block-code .token.rule,.wp-block-code .token.tag,.wp-block-code .token.deleted,.wp-block-code .token.selector,.wp-block-code .token.prolog,.wp-block-code .token.title .token.punctuation {
  color: #f92672;
}

.wp-block-code .token.property,.wp-block-code .token.entity,.wp-block-code .token.class-name,.wp-block-code .token.atrule,.wp-block-code .token.code {
  color: #66d9ef;
}

.wp-block-code .token.regex,.wp-block-code .token.atrule .token.property,.wp-block-code .token.parameter {
  color: #fd971f;
}

.wp-block-code .token.pseudo-element,.wp-block-code .token.id,.wp-block-code .token.class,.wp-block-code .token.pseudo-class,.wp-block-code .token.function,.wp-block-code .token.namespace,.wp-block-code .token.inserted,.wp-block-code .token.symbol,.wp-block-code .token.url-reference .token.variable,.wp-block-code .token.attr-name {
  color: #a6e22e;
}

.wp-block-code .token.string,.wp-block-code .token.url,.wp-block-code .token.list,.wp-block-code .token.cdata {
  color: #e6db74;
}

.wp-block-code .token.attr-value {
  color: #e6db74;
}

.wp-block-code .token.attr-value a.token.url-link {
  color: #e6db74;
}

.wp-block-code .token.constant,.wp-block-code .token.builtin,.wp-block-code .token.number,.wp-block-code .token.boolean {
  color: #ae81ff;
}

.wp-block-code .token.doctype,.wp-block-code .token.punctuation,.wp-block-code .token.variable,.wp-block-code .token.operator {
  color: #f8f8f2;
}

.wp-block-code .token.entity {
  cursor: help;
}

.wp-block-code .token.title {
  font-weight: bold;
}

.wp-block-code .token.title .token.punctuation {
  font-weight: bold;
}

.wp-block-code .token.bold {
  font-weight: bold;
}

.wp-block-code .token.italic {
  font-style: italic;
}

.code-toolbar {
  margin: 24px 0;
  position: relative;
  border-radius: .3em;
  white-space: normal;
  background: #272822;
}

.code-toolbar .wp-block-code {
  margin: 0;
}

.code-toolbar .wp-block-code:not(pre) > code[class*="language-"] {
  border-radius: 0;
  background: none;
}

.code-toolbar .toolbar {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.code-toolbar .toolbar .toolbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.code-toolbar.has-scrollbar .toolbar {
  bottom: 32px;
}

.editor-styles-wrapper {
  padding-left: unset !important;
  padding-right: unset !important;
}

.block-editor-block-list__block[data-align="wide"],.wp-block[data-align="wide"] {
  width: 960px;
  max-width: 100%;
}

.block-editor-block-list__block[data-align="full"] .wp-block[data-align="full"],.block-editor-block-list__block[data-align="wide"],.wp-block[data-align="wide"] {
  margin-right: auto;
  margin-left: auto;
}

.block-editor-block-list__block[data-align="full"] {
  max-width: initial;
}

.wp-block[data-align="full"] {
  width: 100%;
}

.alignwide {
  max-width: 100%;
}

/**
 * =========================
 *    || Theme
 * =========================
 */

/**
 *
 * ████████╗██╗  ██╗███████╗███╗   ███╗███████╗
 * ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝
 *    ██║   ███████║█████╗  ██╔████╔██║█████╗
 *    ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝
 *    ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗
 *    ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * All Theme changes
 *
 * This sheet is a part of the Theme folder and follow the Theme rules:
 * Overall general changes to the entire site as for example font rules, background images link and border colors.
 * Used for alternate themes.
 */

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }

  .edit-post-visual-editor.editor-styles-wrapper h1 {
    font-size: 56px;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .edit-post-visual-editor.editor-styles-wrapper h2 {
    font-size: 40px;
    font-size: 2rem;
    line-height: 1.2;
  }

  .edit-post-visual-editor.editor-styles-wrapper h3 {
    font-size: 32px;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .edit-post-visual-editor.editor-styles-wrapper h4 {
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .edit-post-visual-editor.editor-styles-wrapper h5 {
    font-size: 18px;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .card-list {
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  .card-list__item {
    width: 50%;
    max-width: 50%;
    padding: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .card-list__item {
    width: 33.3%;
  }
}