/**
 *
 * ████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
 * ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
 *    ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
 *    ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
 *    ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
 *    ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * All typography state changes
 *
 * This sheet is a part of the State folder and follow the State rules:
 * A state is something that augments and overrides all other styles (something that changes the state of something).
 * For example, an accordion section may be in a collapsed or expanded state. A message may be in a success or error
 * state. States are generally applied to the same element as a layout rule or applied to the same element as a
 * base module class.
 */

p.is-style-preamble {
	@include font("default", 300, 24px);
	font-style: italic;
}

p.is-style-notice {
	@include font("heading", 300, 16px);
	font-style: italic;
	$svg-color: str-replace("#{$white}", "#", "");
	position: relative;
	&::before {
		content: "";
		margin-right: 21px;
		vertical-align: middle;
	}
	&::after {
		position: absolute;
		left: 0;
		top: 2px;
		content: "";
		display: block;
		height: 16px;
		width: 16px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M12 2A10 10 0 112 12 10 10 0 0112 2zm0-2a12 12 0 1012 12A12 12 0 0012 0zm-1 6h2v8h-2zm1 12.25A1.25 1.25 0 1113.25 17 1.25 1.25 0 0112 18.25z' fill='%23#{$svg-color}' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
	}
	&.wp-block {
		$svg-color: str-replace("#{$black1}", "#", "");
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M12 2A10 10 0 112 12 10 10 0 0112 2zm0-2a12 12 0 1012 12A12 12 0 0012 0zm-1 6h2v8h-2zm1 12.25A1.25 1.25 0 1113.25 17 1.25 1.25 0 0112 18.25z' fill='%23#{$svg-color}' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
		}
	}
}
